a {
    color: black;
}

.telescope-receiver {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
    height: 100%;
}

.telescope-target-control {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
}

.notification-area {
    padding: 8px;
    margin-bottom: 6px;
    display: none;
}

.notification-area.success {
    border-color: #66BB6A;
    background-color: #E8F5E9;
    display: block;
}

.notification-area.error {
    border-color: #E57373;
    background-color: #FFEBEE;
    display: block;
}

.calendar .date {
    font-size: 90%;
    padding: 6px;
    text-align: center;
}
.calendar a {
    text-decoration: none;
}
.calendar .cur-date {
    border-radius: 6px;
    background-color: #c0d0ee;
}
.calendar .other-month a {
    color: #999999;
}
