* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #02344a;
    --primary-color-light: #25617a;
    --secondary-color: #ffffff;
    --gray100: #f0f5f7;
    --gray300: #d6e1e5;
    --gray900: #1a1d1f;
    --main-text-color: var(--gray900);
    --main-link-color: var(--primary-color);
    --main-bg-color: var(--gray100);
}

body {
    font-family: 'Roboto flex', sans-serif;
    font-size: 16px;
    background-color: var(--gray900);
}

#page {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}

#main-content {
    padding: 20px;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

#main-content a {
    color: var(--main-link-color);
    text-decoration: none;
}

#main-content a:hover {
    text-decoration: underline;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
}

header {
    color: var(--gray100);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: 'Audiowide', cursive;
    margin: 0 20px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content:center;
}

nav menu {
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: center;
    font-weight: 400;
}

nav menu li {
    flex-grow: 1;
    padding: 0px 20px;
    height: 100%;
}

nav menu li:hover {
    background-color: var(--primary-color-light);
}

nav menu li a {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    margin: 0 20px;
}

.telescope-receiver {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
    height: 100%;
}

.telescope-target-control {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
}

.notification-area {
    padding: 10px;
    margin-bottom: 10px;
    display: none;
    border: 1px solid;
}

.notification-area.success {
    border-color: #66BB6A;
    background-color: #E8F5E9;
    display: block;
}

.notification-area.error {
    border-color: #E57373;
    background-color: #FFEBEE;
    display: block;
}

.calendar .date {
    font-size: 90%;
    padding: 6px;
    text-align: center;
}
.calendar a {
    text-decoration: none;
}
.calendar .cur-date {
    border-radius: 6px;
    background-color: #c0d0ee;
}
#main-content .calendar .other-month a {
    color: #999999;
}
