* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #02344a;
    --primary-color-light: #25617a;
    --secondary-color: #ffffff;
    --gray100: #f0f5f7;
    --gray300: #d6e1e5;
    --gray900: #1a1d1f;
    --main-text-color: var(--gray900);
    --main-link-color: var(--primary-color);
    --main-bg-color: var(--gray100);
}

html {
    height: 100%;
}
body {
    font-family: 'Roboto flex', sans-serif;
    font-size: 16px;
    background-color: var(--gray900);
    height: 100%;
}
#page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop styles */
@media only screen and (min-width: 961px) {
    #page {
        width: 960px;
        margin: 0 auto;
        /* box-shadow: 0 0 6px var(--gray300); */
    }
}

.section {
    padding: 30px;
    flex-grow: 1;
}
.section.light {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
.section.dark {
    color: var(--secondary-color);
}
.section a {
    color: var(--main-link-color);
    text-decoration: none;
}
.section a:hover {
    text-decoration: underline;
}

.welcome {
    text-align: center;
    padding-top: 150px;
}
.welcome h1 {
    font-size: 300%;
    letter-spacing: -0.7px;
    margin-bottom: 30px;
}
.welcome p {
    font-size: 140%;
    width: 50%;
    margin: auto;
}

header {
    color: var(--gray100);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
}

#logo {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: 'Audiowide', cursive;
    margin: 0 20px;
    display: flex;
    align-items:center;
    justify-content:center;
}
#logo a {
    color: inherit;
    text-decoration: none;
}

nav menu {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: center;
    font-weight: 400;
}

nav menu li {
    flex-grow: 1;
    height: 100%;
}

nav menu li:hover {
    background-color: var(--primary-color-light);
}

nav menu li a {
    padding: 0px 20px;
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    margin: 0 20px;
}

footer {
    /* TODO: Need less contrast here */
    color: var(--gray300);
    padding: 20px;
    text-align: center;
    font-size: 90%;
}

.telescope-receiver {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
    height: 100%;
}

.telescope-target-control {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
}

.notification-area {
    padding: 10px;
    margin-bottom: 30px;
    display: none;
    border: 1px solid;
}

.notification-area.success {
    border-color: #66BB6A;
    background-color: #E8F5E9;
    display: block;
}

.notification-area.error {
    border-color: #E57373;
    background-color: #FFEBEE;
    display: block;
}


.new-booking #new-booking-cols {
    display: flex;
    justify-content: center;
}
.new-booking .new-booking-col {
    margin: 0 30px;
}
/* .new-booking .new-booking-col * { */
/*     margin: 10px 0; */
/* } */
#new-booking-form {
    width: auto;
}
.new-booking .submit {
    display: flex;
    justify-content: flex-end;
}
.calendar .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar .change-month {
    /* TODO: At least some of this should be moved to a general button class */
    border: 1px solid var(--gray900);
    border-radius: 5px;
    background-color: var(--gray300);
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.calendar .date {
    font-size: 90%;
    padding: 6px;
    text-align: center;
}
.calendar a {
    text-decoration: none;
}
.calendar .cur-date {
    border-radius: 6px;
    background-color: #c0d0ee;
}
.calendar .other-month a {
    color: #999999;
}
