<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SALSA</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400&display=swap" rel="stylesheet">
        <meta charset='UTF-8'/>
        <meta name='viewport'
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
        <!-- <script src="https://unpkg.com/htmx.org@2.0.0"></script> -->
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div id="logo" hx-get="/welcome.html" hx-push-url="/" hx-target="#page"><a href="#">SALSA</a></div>
            <nav>
                <menu>
                    <li hx-get="/bookings" hx-target="#page" hx-push-url="/bookings" class="list-entry">
                        <a href="#">Bookings</a>
                    </li>
                </menu>
            </nav>
            <nav>
                <menu>
                    {% if name == "" %}
                    <li class="list-entry">
                        <a href="/auth/login">Login</a>
                    </li>
                    {% else %}
                    <li class="list-entry">
                        Logged in as {{ name }}
                    </li>
                    {% endif %}
                </menu>
            </nav>
        </header>
        <div id="page">
            {{ content }}
        </div>
        <footer>
            Made by weirdos 🦆
        </footer>
    </body>
</html>
