
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<div class="section light">
  <h1> Please observe!</h1>
  <p>
    Telescope: {{ info.id }}
  </p>
  <div id="errors">
  </div>
  <div id="chart">
    <script>
      (function() {
          const width = 800;
          const height = 600;
          const margin = 50;

          const x = d3.scaleLinear()
                .domain([0, 100])
                .range([margin, width - margin]);
          const y = d3.scaleLinear()
                .domain([0, 100])
                .range([height - margin, margin]);
          const svg = d3.create("svg")
                .attr("width", width)
                .attr("height", height)
                .attr("viewBox", [0, 0, width, height])
                .attr("style", "max-width: 100%; height: auto; height: intrinsic;");
          const line = d3.line()
                .x(d => x(d[0]))
                .y(d => y(d[1]));
          // x-axis
          svg.append("g")
              .attr("transform", `translate(0,${height - margin})`)
              .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0));
          // y-axis
          svg.append("g")
              .attr("transform", `translate(${margin},0)`)
              .call(d3.axisLeft(y).ticks(height / 80))
              .call(g => g.append("text")
                    .attr("x", -margin)
                    .attr("y", 10)
                    .attr("text-anchor", "start")
                    .text("Amplitude"));
          svg.append("path")
              .attr("fill", "none")
              .attr("stroke", "steelblue")
              .attr("stroke-width", 1.5)
              .attr("d", line([[10, 10], [20, 10], [30, 50], [40, 5], [50, 10]]));
          document
              .currentScript
              .parentElement
              .appendChild(svg.node());
      })();
    </script>
    <script>
      // There can be a socket already here if the page is refetched by htmx.
      if (window.spectrumSocket) {
          window.spectrumSocket.close();
      }
      window.spectrumSocket = new WebSocket("/telescope/fake/spectrum");
      window.spectrumSocket.onmessage = async (event) => {
          // We get raw spectrum values from the backend.
          let dataView = new DataView(await event.data.arrayBuffer());
          console.log("Got a value at 64: " + dataView.getFloat64(64, true));
      };
    </script>
  </div>
  <h2>Target</h2>
  <form>
    <p>
      <label for="x">
        {% if target_mode == "galactic" %}Longitude [deg]{% else %}Right ascension [deg]{% endif %}
      </label>
      <input type="text" id="x" name="x" value="{{ commanded_x }}">
    </p>
    <p>
      <label for="y">
        {% if target_mode == "galactic" %}Latitude [deg]{% else %}Declination [deg]{% endif %}
      </label>
      <input type="text" id="y" name="y" value="{{ commanded_y }}">
    </p>

    <p>
      <select name="coordinate_system">
        <option value="galactic"
          {% if target_mode == "galactic" %}selected="selected"{% endif %}>
          Galactic
        </option>
        <option value="equatorial"
          {% if target_mode == "equatorial" %}selected="selected"{% endif %}>
          Equatorial
        </option>
      </select>
    </p>

    <p>
      <button hx-post="/observe" hx-target="#page" name="action" value="go">Go!</button>
    </p>
    <p>
      <button hx-post="/observe" hx-target="#page" name="action" value="park">Park</button>
    </p>
  </form>
  <div id="state" hx-get="telescope/{{ info.id }}/state" hx-trigger="every 1s">
    {{ state_html }}
  </div>
</div>

