
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<div class="section light">
  <h1> Please observe!</h1>
  <p>
    Telescope: {{ info.id }}
  </p>
  <div id="errors">
  </div>
  <div id="chart">
    <!-- FIXME: maybe don't reload this javascript on each htmx fetch of this page? -->
    <script src="/observe_chart.js"></script>
  </div>
  <h2>Target</h2>
  <form>
    <p>
      <select name="coordinate_system">
        <option value="galactic"
          {% if target_mode == "galactic" %}selected="selected"{% endif %}>
          Galactic
        </option>
        <option value="equatorial"
          {% if target_mode == "equatorial" %}selected="selected"{% endif %}>
          Equatorial
        </option>
        <option value="horizontal"
          {% if target_mode == "horizontal" %}selected="selected"{% endif %}>
          Horizontal
        </option>
      </select>
    </p>

    <p>
      <label for="x">
        {% if target_mode == "galactic" %}
        Longitude [deg]
        {% else if target_mode == "equatorial" %}
        Right ascension [deg]
        {% else %}
        Azimuth [deg]
        {% endif %}
      </label>
      <input type="text" id="x" name="x" value="{{ commanded_x }}">
    </p>
    <p>
      <label for="y">
        {% if target_mode == "galactic" %}
        Latitude [deg]
        {% else if target_mode == "equatorial" %}
        Declination [deg]
        {% else %}
        Elevation [deg]
        {% endif %}
      </label>
      <input type="text" id="y" name="y" value="{{ commanded_y }}">
    </p>

    <p>
      <button hx-post="#" hx-target="#page" name="action" value="go">Go!</button>
    </p>
    <p>
      <button hx-post="#" hx-target="#page" name="action" value="park">Park</button>
    </p>
  </form>
  <div id="state" hx-get="/telescope/{{ info.id }}/state" hx-trigger="every 1s">
    {{ state_html }}
  </div>
</div>

